.article-content-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    height: 60px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    border-bottom: 4px solid #1a1a1a;
    border-top: 1px solid #1a1a1a;
    position: relative;
}

.article-content-default p {
    margin: 0;
    font-weight: 600;
}

.dropdown-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
}

.dropdown-rectangle {
    background-color: #d3d3d3;
    width: 150px;
    height: 30px;
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #1a1a1a;
    position: absolute;
    z-index: 2;
}
